.backButton {
    -fx-graphic: url('images/statistics-button.png');
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:transparent;
}

.backButton:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-font-family: "Posterizer KG Rounded";
}